@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Styles Here*/
ul {
  @apply list-disc;
  @apply pl-4; /* optional: add left padding */
}

ol {
  @apply list-decimal;
}

li {
  @apply list-item;
  @apply text-base my-2;
}

h2 {
  @apply text-2xl;
}

blockquote {
  @apply border-gray-400;
  @apply border-2;
  @apply rounded-lg;
}

.recipe-item:hover,
.recipe-item:active {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
